bin/
bot.db
data/*
!data/foods/
!data/foods/*.txt
!data/sports.txt
!data/cars.txt
!data/fun/
!data/fun/*.txt
!data/welcome.txt
!data/weapons.txt
!data/acronyms.txt
!data/scramble.txt
!data/puzzles/
!data/puzzles/*.txt
!data/wordle/
!data/wordle/*.txt
.env
.env.bak
.act-runner/
!scripts/build.sh
